/*Style of Video*/
body {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center
}

body h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container {
	margin: 0px auto;
	width: 500px;
	height: 370px;
  border: 10px #222 solid;
  display: flex;
}
#fireCanvas {
  position: absolute; /*camada absoluta*/
  z-index: 10; /*coloca a camada a cima*/

  width: 500px;
	height: 370px;
  
  opacity: 0.5
}
#videoElement {
  position: relative; /*camada relativa*/

	width: 500px;
	height: 370px;
	background-color: #666;
}

/*Style of Fire*/
table {
  border-collapse: collapse;
  border: 1px solid #000
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  text-align: center;
  vertical-align: center;
  font-family: monospace;
  font-size: 18px;
  position: relative
}

.pixel-index {
  font-size: 8px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 2px;
  color: #999
}

td.pixel {
  
  width: 19px;
  height: 9.4px;
  border: 0
}